doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title PDF Generator
    style
      include style.css      
  body
    h1 Monthly report
    
    #body Here comes the values #{name}
